<div class='container'>

  <h2><%= @deck.category %></h2>

    <% if @card_number == 1 %>
      <h3>Get playing!</h3>
    <% else %>
      <% if @correctness %>      
        <p><b>Correct!</b> The capital of <%="#{@previous_card.question}"%> is <%="#{@previous_card.answer}!"%></p>
      <% else %>
        <p><b>Incorrect!</b> The capital of <%="#{@previous_card.question}"%> is <%="#{@previous_card.answer}!"%></p>
      <% end %>
    <% end %>

      <form id="question" method="post" action="/play/<%= @round.id %>/<%= @card_number %>">
        <h3>What is the capital of <%= @deck.cards.find(@card_number).question %>?</h3>
        <br><br> 
        <input type="text" name="user_answer"><br><br>
        <input type="submit" value="Submit Answer">
      </form>
     
    <br><br>
 
</div>
