<div class='container'>

  <% if @user.rounds.length == 0 %>
    <h2>You've not played any games, get playing!</h2>
  <% else %>
    <h2><%= @user.name %>, you are doing great!</h2>
    <h3>Here are your results</h3>
  <% end %>
  <br><br>

  <table>
    <tr>
      <th>Date</th>
      <th>Category</th>
      <th>Right Answers</th>
      <th>Score</th>
    </tr>

    <% @rounds.each do |round| %>
      <tr>
        <td><%= round.updated_at %></td>
        <% deck_id = round.deck_id %>
        <% deck = Deck.find(deck_id) %>
        <td><%= deck.category %></td>
        <td><%= round.correct_guess_count %> out of <%= deck.cards.length %></td>
        <td><%= (round.correct_guess_count.to_f)/deck.cards.length*100 %>%</td>
      </tr>
    <% end %>
  </table>

  <br><br><br>
  <p>
    <a href='/'>Return to homepage</a>
     or 
    <a href='/profile'>Play again!</a>

  </p>

</div>
